@font-face {
  font-display: swap;
  font-family: 'hybrid';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/hybrid_b.ttf') format('truetype');
}

.site-footer {
  color: $grey-lt-000;
}

.center {
  text-align: center;
}

.site-title {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-family: hybrid, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
  font-size: 50px !important;
  line-height: 1;
  text-shadow: #00000080 4px 4px 3px;
}

#logos-svg {
  display: none;
}

.main-header {
  div#external-links {
    margin-top: 12px;

    a {
      text-decoration: none;

      svg {
        margin: 4px;
        width: 24px;
        height: 24px;
        background: transparent;
        color: $body-text-color;
        transition: 0.3s;
      }

      &:hover svg {
        color: $body-background-color;
        filter: drop-shadow(0 0 3px $body-heading-color);
      }
    }
  }
}

#tryit {
  width: 512px;

  table {
    line-height: 1;

    td {
      padding: 0;
      margin: 0;

      &:nth-child(1) {
        padding-left: 10px;
        text-align: left;
      }

      &:nth-child(2) {
        width: 80%;
        text-align: center;

        input {
          width: 100%;
        }
      }

      &:nth-child(3) {
        padding-right: 10px;
        text-align: right;

        input {
          width: 75px;
          margin: 0;
          padding: 0;
          text-align: right;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &[type=number] {
            -moz-appearance: textfield;
          }
        }
      }
    }
  }
}
