@font-face {
  font-display: swap;
  font-family: 'hybrid';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/hybrid_b.ttf') format('truetype');
}

.site-footer {
  color: $grey-lt-000;
}

.center {
  text-align: center;
}

.site-title {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-family: hybrid, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
  font-size: 50px !important;
  line-height: 1;
  text-shadow: #00000080 4px 4px 3px;
  opacity: 0;
  transition: opacity 0.2s;
}

a, p, div, input, label {
  text-shadow: #00000080 2px 2px 4px;
}

svg {
  filter: drop-shadow(2px 2px 4px #00000080);
}

.main-content ol > li::before {
  color: $grey-lt-000 !important;
}

#logos-svg {
  display: none;
}

.main-header {
  div#external-links {
    margin-top: 12px;

    a {
      text-decoration: none;

      svg {
        margin: 4px;
        width: 24px;
        height: 24px;
        background: transparent;
        color: $body-text-color;
        transition: 0.3s;
      }

      &:hover svg {
        color: $body-background-color;
        filter: drop-shadow(0 0 3px $body-heading-color);
      }
    }
  }
}

#tryit {
  width: 512px;

  table {
    line-height: 1;

    td {
      padding: 0;
      margin: 0;

      &:nth-child(1) {
        padding-left: 10px;
        width: 20%;
        min-width: 20%;
        text-align: left;
      }

      &:nth-child(2) {
        width: 60%;
        text-align: center;
        touch-action: none;

        input {
          margin: 0 10px;
          padding: 3px 0;
          width: 90%;
        }
      }

      &:nth-child(3) {
        padding-right: 10px;
        width: 20%;
        min-width: 20%;
        text-align: right;

        input {
          width: 75px;
          margin: 0;
          padding: 0;
          text-align: left;
        }
      }
    }
  }
}
