$white: #fff;

$grey-dk-000: #454545;
$grey-dk-100: #3c3f41;
$grey-dk-200: #302d36;
$grey-dk-250: #2b2d30;
$grey-dk-300: #1e1f22;
$grey-lt-000: #959396;
$grey-lt-100: #bcbec4;
$grey-lt-200: #ecebed;
$grey-lt-300: #e6e1e8;

$purple-000: #7253ed;
$purple-100: #5e41d0;
$purple-200: #4e26af;
$purple-300: #381885;

$blue-000: #2c84fa;
$blue-100: #2869e6;
$blue-200: #264caf;
$blue-300: #183385;

$green-000: #41d693;
$green-100: #11b584;
$green-200: #009c7b;
$green-300: #026e57;

$yellow-000: #ffeb82;
$yellow-100: #fadf50;
$yellow-200: #f7d12e;
$yellow-300: #e7af06;

$red-000: #f77e7e;
$red-100: #f96e65;
$red-200: #e94c4c;
$red-300: #dd2e2e;
